<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
<% if @birthday_check.birthday? %>
  <div align=center>
    <h1 class="hb">Happy Birthday <%= @name %>!</h1>
  </div>
  <% elsif @between < 0 %>
  <div align=center>
    <h1 class="hb">Your birthday was <%= @between.abs %> days ago, <%= @name %>
    <h1 class="hb">Your next birthday will be in <%= @between + 365 %> days</h1>
  </div>
  <% else %>
  <div align=center>
    <h1 class="hb">Your birthday will be in <%= @between %> days, <%= @name %></h1>
  </div>
  <% end %>

</body>
</html>
